<section>
				<form id="search-form" name="search-form" ng-submit="vids(searchText)">
					<div class="fieldcontainer">
						<input type="search" id="query" class="search-field" placeholder="Search Goovies..." ng-model="searchText">
						<button type="submit" name="search-btn" id="search-btn"></button>
					</div>
				</form>
				<div ng-repeat='movie in movies' class="searchResults">
					<!-- <img href="https://www.youtube.com/watch?v={{movie.id.videoId}}"class="thumbnail" ng-src="{{movie.snippet.thumbnails.default.url}}"/> -->
					<iframe  class=width="440" height="160" src="https://www.youtube.com/embed/"+{{movie.id.videoId}} frameborder="0" allowfullscreen></iframe>
					<!-- {{movie.snippet.thumbnails.default.url}} -->

					<ul>
						<div class="vidTitle">
							<a href="https://www.youtube.com/watch?v={{movie.id.videoId}}">{{movie.snippet.title}}</a>

							<li class="description">
								by <a class="channelTitle" href="https://www.youtube.com/channel/{{movie.snippet.channelId}}"><span>{{movie.snippet.channelTitle}}</span> </a> </br>
								{{movie.snippet.description}}
							</li>
					</div>
					</ul>
			</div>

				<div id="buttons"></div>
				<!-- <button ng-click="vids()">PRESS ME TO BREAK THE P{AGE}</button> -->
</section>
